div.fader.fadeOut {
    left: 1050px;
    opacity: 0;
    display: none;
}

div.image.fadeIn {
    left: 350px;
    opacity: 1;
    display: block;
}

div.image.hide1 {
    left: 0px;
    opacity: 0;
    display: none;
}

div.image {
    display: block;
    opacity: 0;
    left: -600px;
    transition: left 2s ease-out,opacity 2s ease-in !important;
    height: 700px;
    width: 790px;
}

div.fader.show {
    display: block;
}

div.fader {
    display: none;
    left: 350px;
    top: 0px;
    transition: left 2s,opacity 2s !important;
    height: 700px;
    width: 790px;
}

span {
    text-align: left;
    vertical-align: top;
    margin-left: 10px;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
}

img {
    height: 700px;
    width: 700px;
    box-shadow: 1px 1px 5px #454545;
    border-radius: 5px 5px 5px 5px;
}

body{
    background: lightgray;
}
div {
    height: auto;
    width: auto;
    white-space: nowrap;
    position: absolute;
    top: 0;
}

table {
    border-spacing: 2px !important;
}