<table>
    <tr>
        <td></td>
        <td>
            <h1 style="float: right;">Welcome {{user}}</h1>
        </td>
    </tr>
    <tr>
        <td>
            <div bn-fade-helper class="viewport"  style="margin-top: 100px;">
                <div class="image">
                    <img ng-src="{{source.ImageUrl}}" alt="Image" id="imgPrimary" />
                    <span id="imgTitle">{{source.ImageTitle}}</span>
                </div>
            </div>
        </td>
        <td></td>
    </tr>
</table>
